openapi: 3.2.0
info:
  title: Target Orders API
  description: Target provides partner APIs for product catalog access, inventory availability, order management, and store information. These APIs enable technology partners and affiliates to integrate with Target's retail platform. The Redsky aggregation platform powers client-managed REST APIs built on GraphQL queries covering product, price, promotion, and fulfillment data.
  version: '1.0'
  contact:
    name: Target Developer Support
    url: https://developer.target.com/
  termsOfService: https://developer.target.com/terms
servers:
- url: https://api.target.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Orders
  description: Order management for partners
paths:
  /orders/v1:
    get:
      operationId: listOrders
      summary: List Orders
      description: Returns orders for partner fulfillment or reporting purposes.
      tags:
      - Orders
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by order status
        schema:
          type: string
          enum:
          - pending
          - processing
          - shipped
          - delivered
          - cancelled
      - name: from_date
        in: query
        required: false
        description: Start date filter (ISO 8601)
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        required: false
        description: End date filter (ISO 8601)
        schema:
          type: string
          format: date
      - name: limit
        in: query
        required: false
        description: Maximum orders to return
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        required: false
        description: Pagination offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/v1/{order_id}:
    get:
      operationId: getOrder
      summary: Get Order Details
      description: Returns full details of a specific order including line items and status.
      tags:
      - Orders
      parameters:
      - name: order_id
        in: path
        required: true
        description: Target order ID
        schema:
          type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    OrderList:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: string
          description: Additional error details
    Order:
      type: object
      properties:
        order_id:
          type: string
          description: Target order ID
        status:
          type: string
          enum:
          - pending
          - processing
          - shipped
          - delivered
          - cancelled
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineItem'
        total_amount:
          type: number
          description: Total order amount
        currency:
          type: string
          default: USD
    OrderLineItem:
      type: object
      properties:
        tcin:
          type: string
          description: Target Corporation Item Number
        title:
          type: string
          description: Product title
        quantity:
          type: integer
        unit_price:
          type: number
        total_price:
          type: number
        status:
          type: string
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Target Developer Portal
  url: https://developer.target.com/
x-authored-by: API Evangelist
x-modeled-from: documentation
x-provenance:
  method: scaffold
  authored-by: API Evangelist
  published-by-provider: false
  generated: '2026-05-03'
  verified: '2026-08-27'
  verified-by: enrichment pipeline local-v1
  summary: NOT PUBLISHED BY TARGET. This document was written by the API Evangelist 2026-05 profile sweep, not harvested from a Target source. Every operation it declares was probed against the host it names on 2026-08-27 and every one returned HTTP 404 from Target's own gateway. Treat this file as a modelled sketch of what a Target partner API might look like, never as Target's contract, and do not derive further artifacts from it.
  probe-evidence:
  - url: https://api.target.com/products/v3
    status: 404
  - url: https://api.target.com/products/v3/12345
    status: 404
  - url: https://api.target.com/products/v3/search
    status: 404
  - url: https://api.target.com/stores/v3
    status: 404
  - url: https://api.target.com/orders/v1
    status: 404
  - url: https://api.target.com/status
    status: 404
  control-probes:
  - url: https://redsky.target.com/redsky_aggregations/v1/web/pdp_client_v1
    status: 403
    detail: A REAL Target route — it exists and is gated, proving the 404s above are route-absence rather than a blanket edge denial.
  - url: https://redsky.target.com/v3/pdp/tcin/12345
    status: 410
    detail: A REAL retired Target route — 410 Gone, again proving the gateway distinguishes absent from present.
  contact: kin@apievangelist.com
