openapi: 3.2.0
info:
  title: Target Status API
  description: Target provides partner APIs for product catalog access, inventory availability, order management, and store information. These APIs enable technology partners and affiliates to integrate with Target's retail platform. The Redsky aggregation platform powers client-managed REST APIs built on GraphQL queries covering product, price, promotion, and fulfillment data.
  version: '1.0'
  contact:
    name: Target Developer Support
    url: https://developer.target.com/
  termsOfService: https://developer.target.com/terms
servers:
- url: https://api.target.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Status
  description: API health and status
paths:
  /status:
    get:
      operationId: getApiStatus
      summary: Get API Status
      description: Returns the current operational status of the Target API platform.
      tags:
      - Status
      security: []
      responses:
        '200':
          description: API is operational
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStatus'
        '503':
          description: Service unavailable
components:
  schemas:
    ApiStatus:
      type: object
      properties:
        status:
          type: string
          description: Current API status
          enum:
          - operational
          - degraded
          - outage
        version:
          type: string
          description: API version
        timestamp:
          type: string
          format: date-time
          description: Status timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Target Developer Portal
  url: https://developer.target.com/
x-authored-by: API Evangelist
x-modeled-from: documentation
x-provenance:
  method: scaffold
  authored-by: API Evangelist
  published-by-provider: false
  generated: '2026-05-03'
  verified: '2026-08-27'
  verified-by: enrichment pipeline local-v1
  summary: NOT PUBLISHED BY TARGET. This document was written by the API Evangelist 2026-05 profile sweep, not harvested from a Target source. Every operation it declares was probed against the host it names on 2026-08-27 and every one returned HTTP 404 from Target's own gateway. Treat this file as a modelled sketch of what a Target partner API might look like, never as Target's contract, and do not derive further artifacts from it.
  probe-evidence:
  - url: https://api.target.com/products/v3
    status: 404
  - url: https://api.target.com/products/v3/12345
    status: 404
  - url: https://api.target.com/products/v3/search
    status: 404
  - url: https://api.target.com/stores/v3
    status: 404
  - url: https://api.target.com/orders/v1
    status: 404
  - url: https://api.target.com/status
    status: 404
  control-probes:
  - url: https://redsky.target.com/redsky_aggregations/v1/web/pdp_client_v1
    status: 403
    detail: A REAL Target route — it exists and is gated, proving the 404s above are route-absence rather than a blanket edge denial.
  - url: https://redsky.target.com/v3/pdp/tcin/12345
    status: 410
    detail: A REAL retired Target route — 410 Gone, again proving the gateway distinguishes absent from present.
  contact: kin@apievangelist.com
